body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

main img {
	width: 300px;
	margin-top: 10px;
}

.neb1 {
	float: left;
	margin-right: 10px;
}

.neb2 {
	float: right;
	margin-keft: 10px;
}